<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tapum.rideon.lib"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="com.tapum.rideon.StationMapActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.activity.realtime.BartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.activity.realtime.CaltrainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.activity.realtime.MuniActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.activity.gtfs.GtfsRouteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.activity.gtfs.GtfsStationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.activity.realtime.AcTransitActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.activity.realtime.DumbartonExpressActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.activity.realtime.SamTransActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.activity.realtime.VtaActivityrideon.VtaActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.activity.realtime.WestcatActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.wheels.WheelsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.favorite.FavoriteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.RouteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tapum.rideon.AppInstalled"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tapum.rideon.StationActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>